.user-item{
    background: linear-gradient(white, lightgrey);
    width: inherit;
    height: fit-content;
    margin-bottom: .5em;
    padding: 0.1em;
    text-align: center;
    text-wrap: wrap;
  }
  
  .main-container{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: 100px 60%;
    grid-template-rows: 30px 400px auto;
    grid-gap: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #search-bar{
    grid-column: 1;
    grid-row: 1;
  }
  
  header#title-room{
    grid-column: 2;
    grid-row: 1;
    background: linear-gradient(#fce4b5, white);
    border:1px solid lightgray;
    border-radius: 5px;
    margin-bottom: -6px;
    text-justify: center;

  }
  
  nav#list-users{
    overflow: auto;
    grid-column: 1;
    grid-row: 2;
    border:1px solid lightgray;
    border-radius: 5px;
    background: linear-gradient(whitesmoke, white);
  }
  
  nav#list-users ul, #messages{
    padding: 2px;
    list-style-type: none;
  }
  
  section#messages{
    display:flex;
    overflow: auto;
    flex-direction: column-reverse;
    /* align-content: end; */
    grid-row-gap: 2px;
    background: linear-gradient(lightgrey, white 2%);
    border: 1px solid lightgrey;
    grid-column: 2;
    grid-row: 2;
  }
  
  .msg-item{
    order:2;
    width:inherit;
    height: fit-content;
    background-color: #f4f4f4;
    padding: 0 0.3em 0 0.3em;
    margin-top: .3em;
  }
  
  .mine{
    background-color: #fce4b5;
  }

  .mine b{
    color: #000080;
  }
  
  #search-bar{
    border-radius: 6px;
  }

  .send-box{
    grid-column: 2/3;
    grid-row: 3;
    background-color: lightblue;
  }

  .send-box a{
    padding: 1em;
  }
  
  .msg-text{
    margin: .2em 0 .3em 0;
    padding-left:5px;
  }
  
  .msg-notification{
    height: fit-content;
    text-align: center;
    color: #D3D3D3;
    border: 1px solid lightgray;
  }

  
  div.msg-text{
    background-color: white;
    border:0px solid lightgray;
    width: 58vw;/*just with fix elements for break lines when long string*/
    padding-top: 0;
    padding-left: 8px;
    word-wrap: break-word;
    white-space: pre-line;
  }  

  textarea{
    resize: none;
    width: 98%;
    margin: 1% 1% 0 1%;
    border-radius: 3px;
  }
      /* Let's get this party started */
      ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }

img{
    border-radius: 50px;
}