<link href="/files/public/style/index.css" rel="stylesheet">
<script src="/files/socket/socket.io.js"></script>
<script src="/files/public/script/index.js"></script>

<div class="main-container">
    <input id="search-bar" placeholder="search" type="text" />
    <header id="title-room">
        <h5>Room x</h5>
    </header>
    <nav id="list-users">
        <ul id="list-user-item">

        </ul>
    </nav>
    <section id="messages">

    </section>
    <div class="send-box btn-panel">
        <form id='editor'>
            <textarea name="" id="m" cols="30" rows="3"></textarea>
        </form>
        <a href="" class="send-message-btn " role="button"><i class="fa fa-cloud-upload"></i> Add Files</a>
    </div>
</div>