<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/files/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/files/fontaws/css/font-awesome.min.css">
    <link rel="stylesheet" href="/files/public/style/prism.css">
    <!-- Google Fonts -->
    {{!--
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>--}}

    <title>Chat</title>
</head>

<body>
    <script type="text/javascript" src="/files/jquery/dist/jquery.min.js"></script>
    {{{body}}}

    <script type="text/javascript" src="/files/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/files/public/script/prism.js"></script>
</body>

</html>